body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  width:100%;
  margin: 0 ;
  padding-top: 26px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  height:100%;
  overflow-x: hidden;
}

#convert{
  direction: rtl;
  text-align: leftt;
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400; /* weight should be in the 400 -700 range */
  font-size: 1.5em;
  margin-top: 30px;
  padding-right:40%;
}
#help{
  font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
}

main {

}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

span.result {direction: ltr; text-align:left; }
table, td{
  border: 1px solid green;
  border-collapse: collapse;
}
td{
  padding-left:2px; padding-right:2px ; text-align:center;
}
td.s{
  font-size:12px; color:red; width:40px;
}
td.b{font-size:2em; padding-top:5px;text-align:left;}

button.rebut{margin-left: 40px; }


#container {
   padding-left: 100px;
   min-height:100%;
   position:relative;
}
#footer {
   position:fixed;
   left:0;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background:#888; color: white;
   padding:10px 0 0 100px;
   font-size: 14px;
}
#footer a {color: white;}
